.Request {
	margin-top: 80px;
	margin-bottom: 80px;
}

.Request input {
	color: white;
	background: transparent;
	box-shadow: none;
	outline: none;
	padding: 10px 15px;
	margin-top: 10px;
	border: 1px solid #6146d7;
	transition: all .5s ease;
}

.Request input.is-error {
	border-color: red;
}

.Request input:focus {
	outline: none;
}

.Request section {
	margin-top: 50px;
}